@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,800;1,100;1,800&family=Dosis:wght@200;300;400;500;800&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
  /* font-family: "Dosis", sans-serif; */
}

body {
  height: 100vh;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.jpg); */

  background-size: cover;
  background-position: center;
}

.header {
  background-color: rgb(20, 20, 137);
  height: 10vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  position: relative;
}

.logo-box {
  color: rgb(135, 132, 132);
  font-size: 3rem;
  font-weight: 800;
}

form {
  display: none;
}

form.active {
  display: block;
}

.search-trigger {
  font-size: 3rem;
  position: absolute;
  right: 10rem;
  cursor: pointer;
  color: white;
}

form input {
  padding: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  width: 60rem;
  border-radius: 1rem;
  outline: none;
  color: rgb(49, 48, 48);
}

.form-group {
  position: relative;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: white;
  outline: none;

  background-color: rgb(0, 0, 40);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(25, 25, 63);
}

.audio-container {
  background-color: rgb(0, 0, 40);
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  height: 7vh;
}

.audio-container i {
  font-size: 3rem;
  cursor: pointer;
}

.searched-word {
  font-size: 2rem;
  margin-left: 2rem;
  text-transform: capitalize;
}

.sound-word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: italic;
}

.result-container {
  width: 70%;
  min-height: 83vh;
  margin: 0 auto;

  padding: 4rem 20rem;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0.1rem 0 0.2rem rgb(0, 0, 0, 0.2),
    -0.1rem 0 0.2rem rgb(0, 0, 0, 0.2); */
}

.line {
  background-color: rgb(20, 20, 137);
  height: 0.4rem;
  margin: 3rem 0;
}

.result-container h3 {
  text-transform: capitalize;
  font-size: 2rem;
}

.result-container h4 {
  font-size: 1.6rem;
  font-weight: 800;
  font-style: italic;
}
.result-container a {
  font-size: 1.5rem;
  font-family: sans-serif;
  display: inline-block;
  margin: 1rem 1.5rem 2rem 0rem;
}
.phonetic {
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem;
  list-style: none;
  font-weight: 800;
}

.def-list {
  margin-bottom: 2rem;
}

.def-list li {
  font-size: 1.6rem;
  color: black;
  line-height: 1.7;
  font-family: sans-serif;
  margin-top: 1rem;
  font-weight: 800;
}

.def-list p {
  font-size: 1.7rem;
  margin-left: 1rem;
  font-family: sans-serif;
  font-style: italic;
}
