@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,800;1,100;1,800&family=Dosis:wght@200;300;400;500;800&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
  /* font-family: "Dosis", sans-serif; */
}

body {
  height: 100vh;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.jpg); */

  background-size: cover;
  background-position: center;
}

.header {
  background-color: rgb(20, 20, 137);
  height: 15vh;
  padding: 2rem 5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-box {
  color: rgb(135, 132, 132);
  font-size: 2rem;
  font-weight: 800;
}

form {
  display: none;
}

form.active {
  display: block;
}

.search-trigger {
  font-size: 3rem;
  position: absolute;
  right: 10rem;
  cursor: pointer;
  color: white;
}

form input {
  padding: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  width: 60rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: rgb(49, 48, 48);
}

.form-group {
  position: relative;
}

.search-btn {
  position: absolute;
  top: 0; 
  right: 0;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: white;
  outline: none;

  background-color: rgb(0, 0, 40);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(25, 25, 63);
}

.audio-container {
  background-color: rgb(0, 0, 40);
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  height: 7vh;
  position: relative;
}

.audio-container i {
  font-size: 3rem;
  cursor: pointer;
}

.control-btn {
  position: absolute;
  right: 10rem;
}

.loader-container {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(45deg);

  animation: loader 1s linear infinite;
  transition: opacity 2s;
  opacity: 1;
  visibility: visible;
}

.loader-container.remove {
  opacity: 0;
  visibility: hidden;
}

.loader-container span {
  width: 5rem;
  height: 5rem;
  position: absolute;
  animation: rotate 1s linear infinite;
}

.loader-container span:nth-child(1) {
  background-color: brown;
  top: 0;
  left: 0;
}

.loader-container span:nth-child(2) {
  background-color: rgb(36, 12, 12);
  right: 0;
  top: 0;
}

.loader-container span:nth-child(3) {
  background-color: rgb(42, 165, 155);
  bottom: 0;
  right: 0;
}

.loader-container span:nth-child(4) {
  background-color: rgb(157, 165, 42);
  bottom: 0;
  left: 0;
}
@keyframes loader {
  0% {
    width: 10rem;
    height: 10rem;
  }
  10% {
    width: 10rem;
    height: 10rem;
  }
  50% {
    width: 15rem;
    height: 15rem;
  }

  90% {
    width: 10rem;
    height: 10rem;
  }

  100% {
    width: 10rem;
    height: 10rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }

  90% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

/* 
.resume-logo, .pause-logo{
  display: none;
}

.play-logo {
  display: inline-block;
}

.play-logo.hide{
  display: none;
}

.play-logo.hide + .pause-logo{
  display: inline-block;
}


.pause-logo.hide {
  display: none;
}

.pause-logo.hide + .resume-logo{
  display: inline-block;
}


.resume-logo.hide {
  display: none;
} */

/* .resume-logo.hide ~ .pause-logo{
  display: inline-block;
} */

/* .play-logo.show ~ .resume-logo {
  display: none;
} */
/* 
.pause-logo.show {
  display: inline-block;
}

.pause-logo.show ~ .play-logo,
.pause-logo.show ~ .resume-logo {
  display: none;
}

.resume-logo.show {
  display: inline-block;
}

.resume-logo.show ~ .play-logo,
.resume-logo.show ~ .pause-logo {
  display: none !important;
} */

.searched-word {
  font-size: 2rem;
  margin-left: 2rem;
  text-transform: capitalize;
}

.sound-word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: italic;
}

.result-container {
  width: 70%;
  min-height: 83vh;
  margin: 0 auto;

  padding: 4rem 20rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  /* box-shadow: 0.1rem 0 0.2rem rgb(0, 0, 0, 0.2),
    -0.1rem 0 0.2rem rgb(0, 0, 0, 0.2); */
}

.line {
  background-color: rgb(20, 20, 137);
  height: 0.4rem;
  margin: 3rem 0;
}

.result-container h3 {
  text-transform: capitalize;
  font-size: 2rem;
}

.result-container h4 {
  font-size: 1.6rem;
  font-weight: 800;
  font-style: italic;
}
.result-container a {
  font-size: 1.5rem;
  font-family: sans-serif;
  display: inline-block;
  margin: 1rem 1.5rem 2rem 0rem;
}
.phonetic {
  font-size: 1.6rem;
  margin: 1rem 0 0 1rem;
  list-style: none;
  font-weight: 800;
}

.def-list {
  margin-bottom: 2rem;
}

.def-list li {
  font-size: 1.6rem;
  color: black;
  line-height: 1.7;
  font-family: sans-serif;
  margin-top: 1rem;
  font-weight: 800;
}

.def-list p {
  font-size: 1.7rem;
  margin-left: 1rem;
  font-family: sans-serif;
  font-style: italic;
}

.up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 7rem;
  height: 7rem;
  background-color: rgb(0, 0, 40);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
}

.up-btn:hover {
  background-color: black;
  border-radius: 0;
}

@media (max-width: 1220px) {
  html {
    font-size: 50%;
  }

  .header {
    height: auto;
    padding: 2rem 5rem;
  }

  .header-container {
    padding: 2rem 5rem;
  }

  .result-container {
    width: 80%;
    padding: 4rem 0;
  }

  .phonetic {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 40%;
  }

  .header {
    height: auto;
    padding: 2rem 2rem;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    position: relative;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 35%;
  }

  /* .result-container {
    font-size: 3rem !important;
  } */

  .header {
    height: auto;
    padding: 2rem 0;
  }

  .header-container {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .logo-box {
    font-size: 3rem;
    position: relative;
    left: -6rem;
    /* margin-bottom: 4rem; */
  }

  .form-group {
    margin-top: 3rem;
  }

  form input {
    max-width: 45rem;
    font-size: 2rem;
  }

  .audio-container {
    padding: 2rem 5rem;
    height: auto;
  }

  .result-container {
    width: 90%;
    padding: 4rem 0;
    font-size: 4rem !important;
  }

  .result-container h3 {
    font-size: 4rem !important;
  }

  .search-trigger {
    right: 2rem;
  }

  .def-list li {
    font-size: 2rem;
  }

  .search-btn {
    font-size: 1.4rem;
  }
}
